@page
@using Microsoft.AspNetCore.Html
@using crossPublisher
@model IndexModel

@{
    Layout = ViewData["Layout"]?.ToString();

    Repository currPage = ViewData["currPage"] as Repository;
    string lang = ViewData["currLang"]?.ToString();
    string error = ViewData["error"]?.ToString();

    // renderizzare del contenuto HTML statico
    string html = "<h2>Contentuto HTML della pagina!</h2>";

    // Includere (tramite Partial?) una pagina cshtml
    string page = "prova.cshtml";

    // non mi è chiaro come includere una pagina. Se le pagine fossero presenti nel filesystem del progetto, 
    // potrei caricarla sfruttando i view Components. Dato che il contenuto delle pagine è sul DB,devo capire come
    // fare riferimento al contenuto della pagina che deve essere inclusa.
}

<h1>@currPage.GetTitle(lang)</h1>

<p>@error</p>

@(new HtmlString(currPage.GetContent(lang)))
<p>lang: @lang</p>
<p>RepositoryID: @currPage.RepositoryID</p>